*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.ruff_cache
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store

# Built container images (must be built locally)
bin/dist/*.tar
